<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <style>
        .body {
    background-color: #ddd;

}

    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script>
 function isNumber(evt) {
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode
        if (iKeyCode != 46 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
            return false;

        return true;
    }
    function calculate()
    {
        const row = document.getElementById("table");
        const tr = row.getElementsByTagName("tr");
        var subtotal=0;
        for (i = 0; i < tr.length-4; i++) {
            var amount=document.getElementById("table").rows[i].cells[4].innerHTML;
            var qty=document.getElementById("table").rows[i].cells[5].getElementsByTagName('input')[0].value;
            row.rows[i].cells[6].innerHTML=parseInt(amount)*parseInt(qty);
            if(qty==null||qty=="")
            {
                alert("QTY is required");
                return false;
            }

            subtotal+=parseInt(document.getElementById("table").rows[i].cells[6].innerHTML);
        }
       document.getElementById("subtotal").innerText=subtotal;
       document.getElementById("totaltax").innerText=subtotal/100*10;
       var subtotal= document.getElementById("subtotal").innerText;
       var tax= document.getElementById("totaltax").innerText;
<!--         console.log(tax+":"+subtotal);-->
       document.getElementById("grandtotal").innerText=parseInt(subtotal)+parseInt(tax);
    }
    function check()
    {
        const row = document.getElementById("table");
        const tr = row.getElementsByTagName("tr");
        if(tr.length<=4)
            {
                alert("No Product in Cart.");
                return false;
            }
        for (i = 0; i < tr.length-4; i++) {
            var qty=document.getElementById("table").rows[i].cells[5].getElementsByTagName('input')[0].value;
            if(qty==null||qty=="")
            {
                alert("QTY is required");
                return false;
            }
        }
    }

    </script>

</head>
<body class="body">
<div class="container" style="background-color: white;">
    <center><p>Shopping Details.</p></center>
    <table class="table table-bordered table-sm">
        <thead>
        <tr>
            <th>SR No.</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>QTY</th>
            <th>Total</th>

        </tr>
        </thead>
        <tbody id="table">
        <tr th:each="product,iterationStatus : ${particularProduct}">
            <td th:text="${iterationStatus.count}"></td>
            <td th:text="${product.id}" hidden> </td>
            <td th:text="${product.productName}"></td>
            <td><img th:src="${product.productMaxQty}"  /></td>

            <td th:text="${product.productPrice}" id="amt"></td>

        </tr>

        <tr rowspan="-2">
            <td colspan="6" style="border-bottom:hidden;"></td>
            <td colspan="1"  >Sub Total: <span id="subtotal"></span></td>
        </tr>
        <tr>
            <td colspan="6" style="border-bottom:hidden;"></td>
            <td colspan="1">Total Tax: <span id="totaltax"></span></td>
        </tr>
        <td colspan="6" ></td>
        <td colspan="1">Grand Total: <span id="grandtotal"></span></td>
        </tr>

        </tr>
        </tbody>
    </table>
    <br>
</div>

</body>
</html>