<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <style>
        .body {
    background-color: #ddd;
}
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body class="body">
<center><h1>Shopping Cart Application</h1></center>
<div class="container" style="background-color: white;">
    <center><h4>Home Page.</h4></center>
    <br>

    <div class="card-columns" >
        <div class="card" style="width:300px" th:each="productDetail : ${productDetails}">
            <img th:src="${productDetail.productImage}" style="width:50%;height:50%;" >
            <div class="card-body">
                <p th:text="${productDetail.id}" hidden></p>
                <p th:text="${productDetail.productQty}" hidden></p>
                <h4 class="card-title" th:text="${productDetail.productName}"> </h4>
                <h5 th:text="${productDetail.productPrice}">$</h5>
                <p class="card-text" th:text="${productDetail.productDescription}"></p>
                <a th:href="@{/addToCart/{id}(id=${productDetail.id})}" class="btn btn-primary stretched-link">Add To Cart</a>
            </div>
        </div>
    </div>
    </div>

</div>

</body>
</html>