<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <style>
        .body {
    background-color: #ddd;

}

    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script>
 function isNumber(evt) {
        var iKeyCode = (evt.which) ? evt.which : evt.keyCode
        if (iKeyCode != 46 && iKeyCode > 31 && (iKeyCode < 48 || iKeyCode > 57))
            return false;

        return true;
    }
    function calculate()
    {
        const row = document.getElementById("table");
        const tr = row.getElementsByTagName("tr");
        var subtotal=0;
        for (i = 0; i < tr.length-4; i++) {
            var amount=document.getElementById("table").rows[i].cells[4].innerHTML;
            var qty=document.getElementById("table").rows[i].cells[5].getElementsByTagName('input')[0].value;
            row.rows[i].cells[6].innerHTML=parseInt(amount)*parseInt(qty);
            if(qty==null||qty=="")
            {
                alert("QTY is required");
                return false;
            }
            subtotal+=parseInt(document.getElementById("table").rows[i].cells[6].innerHTML);
        }
       document.getElementById("subtotal").value=subtotal;
       document.getElementById("totaltax").value=subtotal/100*10;
       var subtotal= document.getElementById("subtotal").value;
       var tax= document.getElementById("totaltax").value;
       document.getElementById("grandtotal").value=parseInt(subtotal)+parseInt(tax);
    }
    function check()
    {
        const row = document.getElementById("table");
        const tr = row.getElementsByTagName("tr");
        if(tr.length<=4)
            {
                alert("No Product in Cart.");
                return false;
            }
        for (i = 0; i < tr.length-4; i++) {
            var qty=document.getElementById("table").rows[i].cells[5].getElementsByTagName('input')[0].value;
            if(qty==null||qty=="")
            {
                alert("QTY is required");
                return false;
            }
        }
    }

    </script>

</head>
<body class="body">
<div class="container" style="background-color: white;">
    <h2>Shopping Cart Page</h2>
    <center><p>Shopping Cart.</p></center>


    <form th:action="@{/userDetails}" method="POST">
        <table class="table table-bordered table-sm">
            <thead>
            <tr>
                <th>SR No.</th>
                <th>Product Name</th>
                <th>Image</th>
                <th>Price</th>
                <th>QTY</th>
                <th>Total</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody id="table">
            <tr th:each="product,iterationStatus  : ${particularProduct}">
                <td th:text="${iterationStatus.count}"></td>
                <td th:text="${product.id}" hidden></td>
                <td th:text="${product.productName}"></td>
                <td><img th:src="${product.productImage}" style="width:30%;height:30%;"/></td>

                <td th:text="${product.productPrice}" id="amt"></td>

                <td><input type="number" class="form-control" name="orderDetails[0].qty" id="qty" required
                           min="1"   onkeypress='javascript: return isNumber(event)' th:max="${product.productQty}" ></td>
                <td></td>
                <td><a th:href="@{/removeFromSession/{id}(id=${product.id})}"><i class="fa fa-close"
                                                                                 style="font-size:30px;color:red"></i></a>
                </td>
            </tr>
            <tr rowspan="3">
                <td colspan="5" style="border-bottom:hidden;"></td>
                <td colspan="2">Sub Total:</span><input type="text" class="form-control" readonly id="subtotal" name="subTotal"></td>
            </tr>
            <tr>
                <td colspan="5" style="border-bottom:hidden;"></td>
                <td colspan="2">Total Tax:<input type="text" class="form-control" readonly id="totaltax" name="totalTax"></td>
            </tr>
            <tr>
                <td style="border-right:hidden;" colspan="3">
                    <a th:href="@{/}" class="btn btn-primary ">Continue Shopping</a>
                    <input type="submit"  class="btn btn-success" onclick="return check()" value="Next">

                    <a class="btn btn-secondary" onclick="return calculate()">Update Cart</a>

                </td>
                <td colspan="2"></td>
                <td colspan="2">Grand Total:<input type="text" class="form-control"  readonly id="grandtotal" name="grandTotal"></td>
            </tr>
            <tr>
            </tr>
            </tbody>
        </table>
    </form>
</div>
</body>
</html>
